@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff");
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  background: url(../images/milan_holidays.jpg);
  background-position: 50% 50%;
}

.wrapper {
  max-width: 1030px;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 15px;
}

/* ! Header */

.header {
  margin-bottom: 17px;
  padding-bottom: 9px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  color: #ffffff;
}

.header__logo-link {
  padding-left: 63px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 700;
  text-transform: uppercase;
  background: url(../logo/logo_white.png);
  background-repeat: no-repeat;
}

.header__logo-link:hover {
  color: #f26522;
  background: url(../logo/logo_red.png);
  background-repeat: no-repeat;
}

.milan {
  font-size: 29px;
}

.holidays {
  font-size: 18px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 400;
  font-size: 18px;
}

.email:hover,
.phone-number:hover {
  color: #f26522;
}

/* ! Main */

.main {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 37px;
}

.card {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  height: 220px;
  border-left: 2px solid;
  border-right: 2px solid;
  border-image: linear-gradient(white, black) 1 100%;
}

.card-title {
  width: 100%;
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
}

.shopping,
.bars {
  justify-self: flex-start;
}

.food,
.walking {
  justify-self: flex-end;
}

.sightseeing,
.art {
  justify-self: center;
}

.details {
  position: absolute;
  bottom: -55px;
  left: 0;
  width: 100%;
  padding: 7px 14px 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f26522;
  font-family: "Roboto";
  font-style: normal;
  color: #ffffff;
  transition: 100ms;
}

.view-details::after {
  content: ">";
  margin-left: 16px;
}

.details-price {
  display: flex;
  justify-content: space-between;
}

.card:hover .details {
  bottom: 0;
}

.card:hover .card-title a {
  color: #f26522;
}

/* ! Footer */

.footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  margin-top: 44px;
}
